#main-content {
  padding: 10px;
}

.attachment-breadcrumb {
  margin-left: 1%;
  margin-top: 1.5%;

}

.container-below {
  margin-top: 5%;
}

.ant-card-type-inner .ant-card-head {
 background: none;
}

.file-detail-info {
  display: flex;
  justify-content: space-between;
}

.card-elements {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dragger {
  flex: 0 1 450px;
}

.input {
  flex: 0 1 250px;
}







