
.bank-info-container {
  border: 1px solid rgb(212, 208, 208);
  width: 90%;
  margin: 2% auto;
}

.largeInput {
  display:flex;
  justify-content: space-between;
}

.submit-bank-info {
  margin-top: 1%;
}