.reference-container {
    border: 1px solid rgb(212, 208, 208);
    width: 96%;
    margin: 1% auto;
    position: relative;
  }
  
.input-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.create-reference {
    margin-top: 1%;
    margin-bottom: 1%;
}

.input{
    flex: 0 1 250px;
}

.column-width{
    margin-right: 3%;
}