.collapse-container {
  padding: 15px;
}

.applicant-elements-below, .applicant-elements-above {
  display: flex;
  justify-content: center;
}

.applicant-elements-above > * {
  width: 33%;
  margin: 0 1%
}

.applicant-elements-below > * {
  width: 35%;
  margin: 2% 1%;
}