html,body{
  height:100%;
}

.collapse-container {
  padding: 15px;
}

.applicant-elements-below, .applicant-elements-above {
  display: flex;
  justify-content: start;
}

.applicant-elements-above > * {
  width: 33%;
}

.applicant-elements-below > * {
  width: 35%;
}

.motor-details {
  width: 75%;
  margin-top: 1%;
}

.motor-summary {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}

#motor-content {
  display: flex;
  margin-left: 15%;
}

.exception-cell, .gross-monthly {
  display: flex;
  /* margin-left: 0.8%; */
  margin-top: 2%;
}

.exception-cell > div:nth-child(2) {
  /* margin-left: 21%; */
}

.ownership > div:nth-child(2) {
  /* margin-left: 8%; */
}

.divider {
  color: #4e0033;
}

.AccordionSum{
  position: relative;
}

.chip{
  color: #fff;
  background-color: #e82512;
  border: solid 2px #e82512;}

.tabContainer{
  box-shadow: solid 2px #20262c;
  margin-top: 2;
}


.ant-collapse > .ant-collapse-item{
  text-align: left;
  background-color: #20262c;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header{
  font-size : medium;
  font-weight: 500;
  color: #fff;
  padding: 10px;
}

.panel-container{
  padding: 30px;
}

.content{
  margin-bottom: 3%;
}

.MuiTableCell-root{
  border: solid 1px #aeb2b2;
  width: 300px;
  align-items: center;
}

.tableHead{
  color: #e82512;
  margin-bottom: 2%;
}

.MuiButton-root{
  background-color: #e82512;
  color:#fff;
}