
.table-wrapper  th {
  font-size: 0.85em;
}

.table-wrapper th:hover {
  color: #1890ff;
  border:1px solid #1890ff ;
}

.hovering:hover {
  background-color: #92A9BD;
}

.ant-progress-circle .ant-progress-text {
  font-size: 0.8em;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled),
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #181c27;
  color: #fff;
}

.date-filter:hover {
  background-color: #fff! important;
  color:#e93b1b;
  line-height: 1.5;
  text-decoration: underline !important;
  text-underline-offset: 8px !important;
  text-decoration-color: #e93b1b !important;
  text-decoration-thickness: 2px !important;
  font-weight: 500 !important;
}

.date-filter:focus {
  border-color: #ef4829a8 !important;
}

.date-filter:active {
  background-color: #fff !important;
}